
@media (max-width: 800px) { 
	#sunf{	
		padding-left: 3rem;
	}
	aside {
		height: 24rem;
	}
}


@media (min-width: 801px) { 
	#sunf{	
		padding-left: 3rem;
	}
	aside {
		height: 24rem;
	}
}

@media (min-width: 1022px) { 
	#sunf{
		padding-left: 10rem;
	}
	aside {
		height: 26rem;
	}
}

@media (min-width: 1288px) { 
	#sunf{
		padding-left: 24rem;
	}	
	aside {
		height: 28rem;
	}
}


@media (min-width: 1610px) { 
	#sunf{
		padding-left: 44rem;
	}
}


@media (min-width: 1900px) { 
	#sunf{
		padding-left: 49rem;
	}
	aside{
		width: 80rem;
		height: 31rem;
	}
}