
* { /* Poor Man's Reset */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*;*/
body {
	background:  #0353a4;
	color: rgb(255, 255, 255);
	text-align: center;

	font-size: calc(1em + 0.5vw);
}

header,
main {
	width: 80vw;
	margin: 0 auto;
}

.titulo {
	height: 30vh;
	display: grid;
	place-items: center;
}
.blg{
	height: 40rem;
	width: auto;

}


h1 {
	font-weight: 300;
	font-size: 3.5em;
}

h2 {
	font-weight: 300;
	font-size: 2.5em;
}

h3 {
	font-weight: 300;
	font-size: 1.7em;
	padding-left: 7rem;
}

h5 {
	color:black;
}

p {
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.42;
	font-size: 1em;
}

.btn {
	background: rgb(188 87 36);
	color: rgb(255 255 255);
	text-decoration: none;
	display: inline-block;
	padding: 0.5em;
	border-radius: 0.25em;
}

aside {
	width: 74rem;
	height: 31rem;
	padding:  3rem;
	text-align: left;
	overflow: auto;
}

aside p {
	margin-bottom: 1em;
}

#spacer{
	margin-top: 15rem;
}
#recuadro {
	display: flex;
	flex-direction: row;
	border: solid;
	border-color: whitesmoke;
	background-color:rgb(5, 3, 4);
	height: 20.5em;

}

#sunf{
	height: 11rem;
	width: auto;	
}


#foto{
	height: 20em;
	width: auto;
	border-radius: 40%;
}

#tira{
	display: flex;
	flex-direction: row;
 	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,83,164,1) 55%, rgba(3,83,164,1) 0%); 
	margin-top: 20px;
	margin-bottom: 25px;
	border-radius: 50%;
	padding-left: 10rem;

}
hr{
	background-color: #2a9d8f;
	opacity: 100;
	padding-top: 5px;
}

.barra{
	min-width: 340px;
}
.pin{
	height: 4.7rem;
	width: auto;
	margin: 1.5rem;
}

a{
	color: azure;
	text-decoration: none;
}
a:hover{
	color: #ff5c8a;
}

.icon{
	height: 4rem;
	margin-bottom: 10rem;
	cursor: pointer;
}

.mod:hover{
	cursor: pointer;
    	box-shadow: 0px 0px 10px #5089C6;
	border-radius: 50%;
	
}



.menu{
	position: fixed;
}


/* Popover styling */


.popover__wrapper {
  position: relative;
  margin-top: 1.5rem;
  display: inline-block;
}

.popover__content {
  opacity: 0;
  visibility: hidden;
  position: relative;
  transform: translate(0, 1px);
  width: auto;
  margin-top: -6rem;
}

.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transform: translate(0, -20px);
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
}

.card {
	outline: var(--outline-width) solid hotpink;
	padding: 3rem;
	border-radius: 1em;
}

.card__content {
	box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
	background: rgb(255, 255, 255);
	color: rgb(10, 5, 7);
	border-radius: 1em;
	overflow: hidden;

	display: grid;
	grid-template-areas: "text img";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	padding: 3rem;
	align-items: stretch;
	outline: var(--outline-width) solid lime;

}

.card__content > div {
	grid-area: text;
	width: 80%;
	place-self: center;
	text-align: left;

	display: grid;
	gap: 1em;
	place-items: start;
}

.card__content > figure {
	grid-area: img;
	overflow: hidden;
}

.card__content > figure > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/** DEBUG **/

#debug {
	position: fixed;
	top: 1em;
	left: 1em;
}
#debug::after {
	content: " Show Debug";
	margin-left: 1.5em;
	color: white;
	white-space: nowrap;
}

#debug:checked ~ main {
	--outline-width: 1px;
}

:root {
	--card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 1em;
	--numcards: 4;
	--outline-width: 0px;
}

#mainline{
	display: flex;
}


#cards {
	list-style: none;
	outline: calc(var(--outline-width) * 10) solid blue;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--numcards), var(--card-height));
	gap: var(--card-margin);
}

#cards {
	padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
	margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
}

#card_1 {
	--index: 1;
}

#card_2 {
	--index: 2;
}

#card_3 {
	--index: 3;
}

#card_4 {
	--index: 4;
}

.card {
	position: sticky;
	top: 0;
	padding-top: calc(var(--index) * var(--card-top-offset));
}

@supports (animation-timeline: works) {

	@scroll-timeline cards-element-scrolls-in-body {
		source: selector(body);
		scroll-offsets:
			/* Start when the start edge touches the top of the scrollport */
			selector(#cards) start 1,
			/* End when the start edge touches the start of the scrollport */
			selector(#cards) start 0
		;
		start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
		end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
		time-range: 4s;
	}

	.card {
		--index0: calc(var(--index) - 1); /* 0-based index */
		--reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
		--reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
	}
	
	.card__content {
		transform-origin: 50% 0%;
		will-change: transform;

		--duration: calc(var(--reverse-index0) * 1s);
		--delay: calc(var(--index0) * 1s);

		animation: var(--duration) linear scale var(--delay) forwards;
		animation-timeline: cards-element-scrolls-in-body;
	}

	@keyframes scale {
		to {
			transform:
				scale(calc(
					1.1
					-
					calc(0.1 * var(--reverse-index))
				));
		}
	}
}

@media (max-width: 461px) { 

	aside {
		height: 12rem;
		width: 19.5rem;
		padding: 1rem;
		margin-top: 1rem;
	}
	h3{
		padding: 0;
		font-size: 1.5em;
	}
	#foto{
		height: 12rem;
	}
	#sunf{	
		height: 8rem;
	}
	#recuadro{
		display: block;
		height: 22.5em;
	}
	#tira{
		padding: 0;
	}
	.pin{
		height: 2rem;
		width: auto;
		margin: 1.2rem;
	}
}

@media (min-width: 462px) { 
	#sunf{	
		padding-left: 3rem;
	}
	aside {
		height: 23rem;
	}
	h3{
		padding: 0;
		font-size: 1.5em;
	}

}


@media (min-width: 801px) { 
	#sunf{	
		padding-left: 3rem;
	}
	aside {
		height: 24rem;
	}
}

@media (min-width: 1022px) { 
	#sunf{
		padding-left: 10rem;
	}
	aside {
		height: 26rem;
	}
}

@media (min-width: 1288px) { 
	#sunf{
		padding-left: 24rem;
	}	
	aside {
		height: 28rem;
	}
}


@media (min-width: 1610px) { 
	#sunf{
		padding-left: 44rem;
	}
}


@media (min-width: 1900px) { 
	#sunf{
		padding-left: 49rem;
	}
	aside{
		width: 80rem;
		height: 31rem;
	}
}
