
* { /* Poor Man's Reset */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*;*/
body {
	background:  #0353a4;
	color: rgb(255, 255, 255);
	text-align: center;

	font-size: calc(1em + 0.5vw);
}

header,
main {
	width: 80vw;
	margin: 0 auto;
}

.titulo {
	height: 30vh;
	display: grid;
	place-items: center;
}
.blg{
	height: 40rem;
	width: auto;

}


h1 {
	font-weight: 300;
	font-size: 3.5em;
}

h2 {
	font-weight: 300;
	font-size: 2.5em;
}

h3 {
	font-weight: 300;
	font-size: 1.7em;
}

h5 {
	color:black;
}

p {
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.42;
	font-size: 1em;
}

.btn {
	background: rgb(188 87 36);
	color: rgb(255 255 255);
	text-decoration: none;
	display: inline-block;
	padding: 0.5em;
	border-radius: 0.25em;
}

aside {
	width: 74rem;
	height: 31rem;
	padding:  3rem;
	text-align: left;
	overflow: auto;
}

aside p {
	margin-bottom: 1em;
}

#spacer{
	margin-top: 15rem;
}
#recuadro {
	display: flex;
	flex-direction: row;
	border: solid;
	border-color: whitesmoke;
	background-color:rgb(5, 3, 4);
	height: 20.5em;

}

#sunf{
	height: 11rem;
	width: auto;	
}


#foto{
	height: 20em;
	width: auto;
	border-radius: 40%;
}

#tira{
	display: flex;
	flex-direction: row;
 	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,83,164,1) 55%, rgba(3,83,164,1) 0%); 
	margin-top: 20px;
	margin-bottom: 25px;
	border-radius: 50%;
	padding-left: 10rem;

}
hr{
	background-color: #2a9d8f;
	opacity: 100;
	padding-top: 5px;
}

.pin{
	height: 4.7rem;
	width: auto;
	margin: 1.5rem;
}

a{
	color: azure;
	text-decoration: none;
}
a:hover{
	color: #ff5c8a;
}

.icon{
	height: 4rem;
	margin-bottom: 10rem;
	cursor: pointer;
}

.mod:hover{
	cursor: pointer;
    	box-shadow: 0px 0px 10px #5089C6;
	border-radius: 50%;
	
}




